.side-nav {
    height: 90vh;
    padding: 16px 0px;
    border-radius: 44px;
    background-color: #212121;
    position: fixed;
    left: 32px;
    width: 200px;
    max-width: 88px;
    transition: 0.2s ease-in-out;

    ul {

        list-style-type: none;
        display: flex;
        padding: 0 16px;
        flex-direction: column;
        gap: 16px;
        

        li {
            padding: 16px 16px;
            background-color: rgb(56, 56, 56);
            border-radius: 9999px;
            display: flex;
            gap: 16px;
            transition: 0.2s;
            align-items: center;
            justify-content: flex-start;

            &:hover {
                background-color: rgb(78, 78, 78);
            }

            .shrink-text {
                // position: absolute;
                opacity: 0;
                transition: transform 0.2s 0.2s, opacity 0.1s 0s;
            }
        }
    }

    &:hover {
        max-width: 200px;
        transform-origin: left;
        .shrink-text {
            opacity: 1;
            transition: opacity 0.6s 0.2s;
            
        }
    }
    a {
        color: white;
        text-decoration: none;
    }
}

